<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>J2EE_DAY_32_01_Servlet_life_cycle_Load_on_Startup_usingXml</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>
  <servlet-mapping>
  <servlet-name>FirstServ</servlet-name>
  <url-pattern>/btm</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>FirstServ</servlet-name>
  <servlet-class>org.btm.PentagonSpaceApp.FirstServlet</servlet-class>
  <load-on-startup>5</load-on-startup>
  </servlet>
</web-app>